{% extends 'base.html'%}
{% block title %}
Words Adding
{% endblock %}

{% block content %}
<h1>Words Adding Page!</h1>
<form action="{{ url_for('game.adding') }}" method="POST">
    <label for="word">Word:</label>
    <input type="text" name="word" placeholder="Enter a Word" required>
    <br><br>
    <button type="submit">Enter</button>
    <br>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}