{% extends 'base.html'%}
{% block title %}
Admin
{% endblock %}

{% block content %}
<h1>{{ name }}, Welcome to Admin Panel!</h1>
<button>
    <a href="{{ url_for('exam.create') }}">Add Questions</a>
</button>
<button>
<a href="/settings">Setting</a>
</button>
<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}