{% extends 'base.html'%}
{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h3>"{{ name }}", Welcome to Dashboard!</h3>
<br>
<button style="border: #ffffff; background-color: #ffffff;">
  <a href="{{ url_for('exam.exam') }}" class="btn btn-info">Start Exam</a>
</button>
<br>
<button style="border: #ffffff; background-color: #ffffff;">
  <a href="{{ url_for('exam.result') }}"" class="btn btn-primary">View Result</a>
</button>
<br><br>
<button style="border: #ffffff; background-color: #ffffff;">
  <a href="{{ url_for('meme.show_meme') }}" class="btn btn-danger">Show me a Meme</a>
</button>
<br>
<button style="border: #ffffff; background-color: #ffffff;">
  <a href="{{ url_for('game.game_play') }}" class="btn btn-success">Play Hangman</a>
</button>
<br><br>
<button style="border: #ffffff; background-color: #ffffff;">
<a href="/settings" class="btn btn-primary btn-sm">Setting</a>
</button>
<form action="/logout" method="POST">
    <button type="submit" class="btn btn-secondary active" style="margin-top: 2px;">Logout</button>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}