{% extends 'base.html' %}
{% block title %}
Hangman
{% endblock %}

{% block content %}
<br>
<h3>HANGMAN!</h3>
<br>
{% with messages = get_flashed_messages() %}
 {% if messages %}
  {% for message in messages %}
   <h4>{{ message }}</h4>
  {% endfor %}
 {% endif %}
{% endwith %}
<br>
 <h3>{{ word_shown }}</h3>
<br>
<form action="{{ url_for('game.guessing') }}" method="POST">
    <label for="Letter:"></label>
    <input type="text", maxlength="1" name="char" required autofocus autocomplete="off">
    <button type="submit" class="btn btn-dark">Guess</button>
</form>
 <h5>Lives:{{ lives }}</h5>
<br>
    <img src="{{ url_for('static', filename='images/state' + mistakes|string + '.png') }}" alt="Hangman">
    <br>
    <button style="border: #ffffff; background-color: #ffffff;">
        <a href="{{ url_for('game.again') }}" class="btn btn-success">Play Again</a>
    </button>
{% endblock %}