{% extends 'base.html' %}
{% block title %}
Inbox
{% endblock %}

{% block content %}
<button> <a href="{{ url_for('message.msg_send') }}">New Message</a> </button>
<hr>
<br>
{% for msg in all_msg %}
  From: {{ msg.sender.username }}-->&nbsp;&nbsp;&nbsp;{{ msg.content }}
  <hr>
{% endfor %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </ul>
    <br>
  {% endif %}
{% endwith %}
{% endblock %}