{% extends 'base.html' %}
{% block title %}
Message
{% endblock %}

{% block content %}
<button> <a href="{{ url_for('message.inbox') }}">Inbox</a> </button>
<br><br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </ul>
    <br>
  {% endif %}
{% endwith %}
<h4>Send Message</h4> 
<form action="{{ url_for('message.msg_send') }}" method="POST">
    <label for="reciever">Send To:</label>
    <input type="search" name="reciever" placeholder="Enter Username" required>
    <br><br>
    <label for="msg_content" style="vertical-align: top;">Message:</label>
    <textarea name="msg_content" id="msg_content" rows="6" cols="50" placeholder="Enter your message..."></textarea>
    <br>
    <button type="submit">Send</button>
</form>
{% endblock %}