{% extends 'base.html'%}
{% block title %}
Registration
{% endblock %}

{% block content %}
<h3>Register Now!</h3>
<br>
<form action="{{ url_for('auth.reg') }}" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter Unique Username" required>
    <br>
    <label for="password">Password:</label>&nbsp;
    <input type="password" name="password" placeholder="Enter Strong Password" required>
    <br><br>
    <button type="submit" class="btn btn-secondary active">Register</button>
    <br>
    <br>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}